@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to top, #395d7e, #3f1e55);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center right;
    }

    section#login > div#form {
        float: right;
        width: 70%;
    }

    div#form > h1 {
        font-size: 1.8em;
    }

    div#form > p {
        font-size: 1em;
        margin: 12px 0px 18px 0px;
    }

    section#login {
        height: 320px;
    }

    form > input[type=submit] {
        margin-top: 12px;
    }

}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #395d7e, #3f1e55);
    }

    section#login {
        width: 950px;
        height: 450px;
    }

    section#login > div#imagem {
        float: right;
        width: 35%;
        height: 100%;
        background-position: center right;
    }

    section#login > div#form {
        float: left;
        width: 65%;
    }

    div#form > h1 {
        font-size: 2em;
    }

    div#form > p {
        font-size: 1.2em;
        text-align: center;
        margin: 5px 0px 45px 0px;
    }

    form > a.botao {
        margin: auto;
        margin-top: 5px;
        width: 75%;
        height: 32px;
    }

    form > input[type=submit] {
        margin: auto;
        width: 75%;
        margin-top: 20px;
        height: 40px;
    }

    form > div.campo {
        width: 75%;
        margin: auto;
        margin: 5px auto;
    }
}